@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing:border-box;

}

html,
body {
  background-color:#f8f8f7;
  font-family: 'Philosopher', sans-serif;
  
}

a {
  text-decoration:none;
  color:#141E46;
}
.container { 
  min-height: 100vh;
}